@page "/"

<div style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; display: flex; flex-direction: column;">
    <div class="px-4" style="flex-grow: 0;">
        <h2>SpawnDev.BlazorJS.VisNetwork</h2>
    </div>
    <div style="flex-grow: 1; position: relative;">
        <VisNetworkView UpdateData="UpdateData" Style="width: 100%; height: 100%; position: absolute; left: 0; top: 0;" />
    </div>
</div>

@code {
    bool firstUpdate = true;
    void UpdateData(VisNetworkView visNetwork)
    {
        if (firstUpdate)
        {
            firstUpdate = false;
            visNetwork.Nodes!.Add(new List<VisNode>
            {
                new VisNode{ Id = "1", Label = "Node 1" },
                new VisNode{ Id = "2", Label = "Node 2" },
                new VisNode{ Id = "3", Label = "Node 3" },
                new VisNode{ Id = "4", Label = "Node 4" },
                new VisNode{ Id = "5", Label = "Node 5" },
            });
            visNetwork.Edges!.Add(new List<VisEdge>
            {
                new VisEdge{ From = "1", To = "3" },
                new VisEdge{ From = "1", To = "2" },
                new VisEdge{ From = "2", To = "4" },
                new VisEdge{ From = "2", To = "5" },
                new VisEdge{ From = "3", To = "5" },
            });
        }
    }
}